JupiterRequest.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Jupiter">
        <xs:complexType>
<xs:sequence>
            <xs:element name="RequestParams">
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="Name" type="xs:string"/>
                    <xs:element name="id" type="xs:string"/>
                    <xs:element name="Operation">
                        <xs:complexType>
                            <xs:sequence>
                            <xs:element name="Type" type="xs:string"/>
                            <xs:element name="Value" type="xs:decimal"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>