ServerResponse.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Server">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="id" type="xs:string"/>
            <xs:attribute name="status" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>